In [21]:
import pandas as pd
import numpy as np
import os
print(os.getcwd())

/resources/labs/DP0701EN

In [22]:
df = pd.read_csv('Processed Data')
df.sort_values(by = ['Postal'])

         Borough Postal                                       Neighborhood
75   Scarborough    M1B                                     Rouge, Malvern
76   Scarborough    M1C             Highland Creek, Rouge Hill, Port Union
77   Scarborough    M1E                  Guildwood, Morningside, West Hill
78   Scarborough    M1G                                             Woburn
79   Scarborough    M1H                                          Cedarbrae
..           ...    ...                                                ...
102         York    M9N                                             Weston
45     Etobicoke    M9P                                          Westmount
46     Etobicoke    M9R  Kingsview Village, Martin Grove Gardens, Richv...
47     Etobicoke    M9V  Albion Gardens, Beaumond Heights, Humbergate, ...
48     Etobicoke    M9W                                          Northwest

[103 rows x 3 columns]

In [23]:
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

ModuleNotFoundError: No module named 'geocoder'

In [24]:
gd = pd.read_csv('Geospatial_Coordinates.csv')
gd

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [26]:
df['Latitude'] = gd['Latitude']
df['Longitude'] = gd['Longitude']
df

,Borough,Postal,Neighborhood,Latitude,Longitude
0,Central Toronto,M4N,Lawrence Park,43.806686,-79.194353
1,Central Toronto,M4P,Davisville North,43.784535,-79.160497
2,Central Toronto,M4R,North Toronto West,43.763573,-79.188711
3,Central Toronto,M4S,Davisville,43.770992,-79.216917
4,Central Toronto,M4T,"Moore Park, Summerhill East",43.773136,-79.239476
...,...,...,...,...,...
98,York,M6C,Humewood-Cedarvale,43.706876,-79.518188
99,York,M6E,Caledonia-Fairbanks,43.696319,-79.532242
100,York,M6M,"Del Ray, Keelesdale, Mount Dennis, Silverthorn",43.688905,-79.554724
101,York,M6N,"The Junction North, Runnymede",43.739416,-79.588437
102,York,M9N,Weston,43.706748,-79.594054

In [27]:
df.to_csv('Data with Coordinate', index = False)